.download-page {
  width: 75%;
}

.download-progress {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.download-progress-bar {
  height: 100%;
  background-color: #7289da;
  width: 0;
}

.download-step {
  margin-top: 5px;
  text-align: center;
}
